:root {
    --orange-color: orange;
    --black-color: #000000;
    --light-grey-color: #ddd;
    --grey-color: #ccc;
    ---dark-grey-color: #333;
    --white-color: #fff;
    --green-color: green;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
body {
    margin-top: 0;
    padding-top: 0;
    margin: 0;
    font-family: 'Rubik Bubbles','cursive';
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
i {
    color: blue;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */
/* start heading*/
.loader {
    top: 0 !important;
    background-color: #fcfcfc !important;
}
.lds-ripple div {
    border: 4px solid var(--orange-color) !important;
}
.loader h3 {
    color: var(--orange-color) !important;
}
.header {
    display: block;
}
.header .container {
    width: 100%;
    background-color: var(--black-color);
    /* width: 90%;
    margin: auto; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    /* align-items: center; */
}
.container .side img {
    max-width: 60px;
}
.container .links {
    flex-basis: 70%;
}
.container .links .toggle-menu {
    color: var(--orange-color);
    cursor: pointer;
    display: none;
}
.toggle {
    display: block !important;
    left: 0px;
    top: 45px !important;
    background-color: rgb(0 0 0 / 40%);
    transition: 0.4s;
}
.container .links ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.active {
    background-color: var(--orange-color);
    color: var(--black-color) !important;
    border-radius: 5px;
}
.links ul li {
    transition: 0.4s;
}
.links ul li a {
    color: var(--orange-color);
    transition: 0.4s;
}
.links ul li:hover  {
    background-color: var(--orange-color);
    border-radius: 5px;
    transform: scale3d(1.2,1.2,1.2);
}
.links ul li a:hover {
    color: var(--black-color);
}
@media(max-width:767px) {
    .header .container .links {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    }
    .header .container .links ul {
        position: absolute;
        left: 0px;
        /* display: none; */
        top: -200px;
        transition: 0.4s;
    }
    .container .links .toggle-menu {
        display: block;
    }
    .header .container .links ul li:hover {
        transform: scale3d(1,1,1);
    }
    .header .container .links ul li:hover a{
        color: var(--black-color);
    }
}
.toggle-link {
    border-bottom: 2px solid #000;
    width: 100vw;
    margin-top: 10px;
    transition: 0.4s;
}
/* End heading */
/* Start home */
.home-care {
    margin-top: 7%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.home-care .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
}
.home-care .container h2 i {
    color: var(--black-color);
    transition: 0.6s;
}
.container .head {
    text-transform: uppercase;
    transition: 0.6s;
    width: fit-content;
    margin: 15px auto;
    margin-bottom: 30px;
}
.container .head:hover {
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
    color: var(--orange-color);
    transform: scale3d(1.3,1.3,1.3);
}
.container .head:hover i {
    color: var(--orange-color);
}
.container .info {
    text-align: center;
}
.container #cont h2 {
    font-family: 'Rubik Bubbles','cursive';
}
.container .image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}
@media(max-width: 991px) {
    .home-care {
        margin-top: 15%;
    }
    .home-care .container {
        margin: auto;
    }
    .container .image {
        flex-direction: column;
    }
}
.container .image p {
    font-size: 26px;
    color:var(---dark-grey-color);
}
@media(max-width:767px) {
    .container .image p {
        font-size: 16px;
    }
    .container .image i {
        font-size: 1.5em;
    }
}
.container .image p i {
    color: var(--orange-color);
}
.container .image img {
    max-width: 700px;
    flex-basis: 60%;
}
@media(max-width:767px){
    .container .image img {
        max-width: 360px;
    }
}
.container h3,p {
    font-family: 'Prompt', 'sans-serif';
    text-align: center;
}

/* End home */
/* about */
.about {
    display: flex;
    justify-content: center;
}
.about .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
}
@media(max-width: 991px) {
    .about .container {
        margin: auto;
    }
}
.about .container .image span {
    cursor: pointer;
    border-bottom: 3px solid var(--orange-color);
}
/* Start care */
.care {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 7%;
}
@media(max-width: 991px) {
    .care .container {
        margin: auto;
    }
}
.care .container .image {
    gap: 40px;
}
.care .container .image img {
    max-width: 600px;
}
@media(max-width:767px) {
    .care .container .image img {
        max-width: 360px;
    }
    .care .container .image .service #serve i {
        font-size: 3rem !important;
        margin-top: 50% !important;
        transform: translateY(-50%) !important;
    }
}
.care .container .image #service {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.care .container .image .service .serve {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    transition: 0.6s;
}
.care .container .image .service #serve {
    border: 1px solid #9999;
    flex-direction: column;
    background-color: #f8f9f9;
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
    height: 300px;
}
.care .container .image .service #serve i {
    margin-top: 10px;
}
.care .container .image .service #serve:hover {
    transform: scale3d(1.1,1.1,1.1);
}
.care .container .image .service p {
    color: var(---dark-grey-color);
    flex-basis: 70%;
}

.care .container .image .service  i {
    color: var(--orange-color);
}
/* End care*/
/* Start footer */
.footer .container {
    background-color: var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer .container .links {
    flex-basis: 45%;
}
.footer .container p {
    flex-basis: 25%;
    color: var(--white-color);
    font-family: 'Prompt', 'sans-serif';
}
.footer .links ul li {
    width: 32px;
}
.footer .links ul .facebook {
    color: #4267B2;
    width: 20px;
    height: 20px;
}
.footer .links ul .massenger {
    color: #00B2FF;
    width: 20px;
    height: 20px;
}
.footer .links ul .whatsapp {
    color: #25D366;
    width: 20px;
    height: 20px;
    margin-left: 2px;
}
.footer .links ul li:hover {
    background-color: var(--white-color);
}
@media(max-width:767px) {
    .footer .container p {
        display: none;
    }
}
/* End footer */
/* Start about */
#title {
    font-family: 'Prompt', 'sans-serif';
}
.home-care .container .image-pro {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
img {
    margin-left: 10px;
}
.home-care .container .image-pro img {
    max-width: 512px;
    padding: 20px;
    background: var(--light-grey-color);
    border-radius: 20%;
}
.home-care .container .image-pro p {
    font-size: 26px;
}
.home-care .container .image-pro p i {
    color: var(--green-color);
}
@media(max-width:991px){
    .home-care .container .image-pro {
        flex-direction: column;
    }
    .home-care .container .image-pro img {
        max-width: 700px;
    }
}
@media(max-width:767px){
    #title{
        font-size: 20px;
    }
    img {
        margin-left: 0;
    }
    #photo {
        max-width: 300px;
    }
    p {
        padding: 10px;
    }
    .home-care .container .image-pro {
        flex-direction: column;
    }
    .home-care .container .image-pro p {
        font-size: 16px;
    }
}
.info p {
    font-size: 20px;
    background-color: var(--orange-color);
    color:var(--white-color);
    padding: 5px;
}
/* scroll */
span img {
    width: 80px;
    position: fixed;
    right:-70px;
    bottom: 10px;
    transition: 0.4s;
    cursor: pointer;
    animation: scroll 2s ease infinite;
}
.show {
    right: 0;
}
/* End about */
/* Start animation */
@keyframes scroll {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
/* End animation */

